/* Estilo personalizado para el botón */
.btn-custom {
    background-color: #6f42c1; /* Púrpura */
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.btn-custom:hover {
    background-color: white;
    color: #6f42c1;
    border: 2px solid #6f42c1;
    transform: scale(1.05);
}

/* Ajuste para el carrusel en móviles */
.carousel-item img {
    height: 300px;
    object-fit: cover;
}
body {
    background-color: #f4f7f6; /* Un gris azulado muy suave */
}

#productos {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
}

#contacto {
    background-color: #e9ecef;
    padding: 40px;
    border-radius: 15px;
}